version: '3.9'

services:
  postgres:
    image: 'postgres:latest'
    environment:
      POSTGRES_DB: main_app_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'

  redis:
    image: 'redis:latest'
    ports:
      - '6379:6379'

  zipkin:
    image: 'openzipkin/zipkin:latest'
    ports:
      - '9411:9411'

  mainserver:
    build: ./mainserver
    depends_on:
      - postgres
      - redis
      - zipkin
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/main_app_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_REDIS_HOST: redis
      SPRING_ZIPKIN_BASE_URL: http://zipkin:9411
    ports:
      - "8080:8080"

  kitchen:
    build: ./kitchen
    depends_on:
      - postgres
      - redis
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/kitchen_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_REDIS_HOST: redis
    ports:
      - "8081:8081"
