server:
  port: 8081

feign:
  main:
    url: ${FEIGN_MAIN_URL:${MAIN_SERVICE_URL:http://localhost:8080}}

main:
  service:
      url: ${MAIN_SERVICE_URL:http://localhost:8080}

jwt:
  secret: "MySuperSecretTokenKeyForKitchenService"
  expiration-ms: 3600000 # 1 hour in milliseconds

spring:
  devtools:
    # Enable remote restart for DevTools to work inside the container
    restart:
      enabled: true
    # Enable remote debugging/monitoring (optional but often useful)
    livereload:
      enabled: true
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:}

  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/kitchen_db
    username: myuser
    password: canti

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  redis:
    host: ${SPRING_REDIS_HOST:localhost}
    port: ${SPRING_REDIS_PORT:6379}

  zipkin:
    base-url: ${SPRING_ZIPKIN_BASE_URL:http://jaeger:9411}

  cache:
    type: ${SPRING_CACHE_TYPE:simple}

kitchen:
  cleanup:
    delay-ms: ${KITCHEN_CLEANUP_DELAY_MS:600000}
  prep:
    min-seconds: 5 # for demo purposes
    max-seconds: 20 # for demo purposes
  callback:
    enabled: true
    url: "http://localhost:8080/api/internal/orders/{orderId}/kitchen-ready?kitchenOrderId={kitchenOrderId}"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    org.example.kitchen: INFO
    org.hibernate: INFO